<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
<!-- display default icon, before image is added -->
    <ion-button (click)="onClickLogin()" color = "success"  slot = "end" shape="round">
      <ion-avatar slot="icon-only">
        <img *ngIf="selectedImage" [src]="selectedImage" alt="Avatar" />
        <ion-icon *ngIf="!selectedImage" slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-avatar>
    </ion-button>

    <ion-title color="light">
      Task
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-card>
  <ion-card-header  color="light">
    <ion-card-title>Keep track of Tasks</ion-card-title>
    <ion-card-subtitle>
      Monitor your ToDo list. Tap the button at the bottom right corner to add a new task</ion-card-subtitle>
  </ion-card-header>
</ion-card>


<ion-content>

  <!-- ion card -->
  <ion-card *ngFor="let task of tasks; index as i" >
    <ion-card-header  >

      <!-- task category display -->
      <ion-card-subtitle >{{ task.taskCategory }}</ion-card-subtitle>
      <ion-item>
        <ion-checkbox
          color="success"
          slot="end"
          [(ngModel)]="task.completed"
          (ionChange)="saveTasks()"
        ></ion-checkbox>

        <!-- task name display  -->
        <ion-label >{{ task.taskName }}</ion-label>
      </ion-item>
    </ion-card-header>

    <ion-row>
<!-- complete task btn   -->
      <ion-item  color="light" button (click)="completeTask(i)">
        <ion-icon color = "success" name="checkmark-outline" slot="start"></ion-icon>
        <p>Complete</p>
      </ion-item>

<!-- edit task btn  -->
      <ion-item  color="light" button (click)="editTask(i)">
        <ion-icon color="warning" name="pencil-outline" slot="start"></ion-icon>
        <p>Edit</p>
      </ion-item>

<!-- delete task btn  -->
      <ion-item  color="light" button (click)="deleteTask(i)">
        <ion-icon color="danger" name="trash-outline" slot="start"></ion-icon>
        <ion-label>Delete</ion-label>
      </ion-item>
    </ion-row>
  </ion-card>

  <!-- Add task button  -->
  <ion-fab vertical = "bottom" horizontal = "end" slot = "fixed">
    <ion-fab-button (click) = "addTask()">
      <ion-icon name = "add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- navigate to overview page  -->
  <ion-button (click)="onClickPro()"slot="fixed" class="bottom-left">Overview</ion-button>


  

</ion-content>
